.bg-gradient-third{
  background-color:  #212121;
  background-image:
  radial-gradient(at 74% 83%, hsla(236,63%,77%, .1) 0px, transparent 50%),
  radial-gradient(at 98% 10%, hsla(244,82%,60%, .1) 0px, transparent 50%),
  radial-gradient(at 90% 69%, hsla(340,74%,63%, .1) 0px, transparent 50%),
  radial-gradient(at 5% 5%, hsla(65,96%,77%, .1) 0px, transparent 50%),
  radial-gradient(at 46% 31%, hsla(184,63%,75%, .1) 0px, transparent 50%),
  radial-gradient(at 66% 35%, hsla(349,80%,66%, .1) 0px, transparent 50%),
  radial-gradient(at 6% 58%, hsla(244,91%,60%, .1) 0px, transparent 50%),
  radial-gradient(at 45% 61%, hsla(233,90%,69%, .1) 0px, transparent 50%),
  radial-gradient(at 93% 10%, hsla(218,98%,74%, .1) 0px, transparent 50%),
  radial-gradient(at 65% 68%, hsla(190,99%,64%, .1) 0px, transparent 50%);
}

.container-icons
{
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.container-icons .card
{
  border: 0px;
  position: relative;
  width: 250px;
  background: transparent;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.container-icons .card:hover
{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
.container-icons .card::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.percent
{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}
.percent .number
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h2
{
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.card:hover .percent .number h2
{
  color: #fff;
}
.percent .number h2 span
{
  font-size: 24px;
  color: #777;
}
.card:hover .percent .number h2 span
{
  color: #fff;
}
.text
{
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}
.card:hover .text
{
  color: #fff;
}

svg circle
{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px,5px);
}
svg circle:nth-child(2)
{
 stroke-dasharray: 440;
 stroke-dashoffset: 440; 
}

.card:nth-child(1n) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  stroke: #ff04f7;
}    



.percent:hover .fab.fa-js{
  color:gold;
}

.percent:hover .fab.fa-html5{
  background: linear-gradient(90deg, rgba(228,77,38,1) 49%, rgba(241,101,41,1) 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.percent:hover .fab.fa-css3-alt{
  background: linear-gradient(90deg, rgba(38,77,228,1) 49%, rgba(41,101,241,1) 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.percent:hover .fab.fa-php{
  color: #787cb4;
}

.percent:hover .fab.fa-node-js{
  color: #8CCA48;
}

.percent:hover .fab.fa-windows{
  color: #13bbf7;
}
.percent:hover .fab.fa-linux{
  color: #333;
  background-image: url('../images/linux.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.percent:hover .fab.fa-python{
  
  background: linear-gradient(-45deg, rgba(255, 222, 88) 49%, rgba(56,115,164,1) 49%);
  background-image: url('../images/py.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;

}

.percent:hover .fa-solid.fa-database{
  background: linear-gradient(180deg, rgb(228, 222, 38) 0%, rgb(228, 111, 38) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.percent:hover .fab.fa-git{
  color: #f15135;
}

.fab.fa-github:hover{
  color: #8c4caf;
}

@media (max-width: 767px) {

  .fab.fa-js{
    color:gold;
  }
  
  .fab.fa-html5{
    background: linear-gradient(90deg, rgba(228,77,38,1) 49%, rgba(241,101,41,1) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fab.fa-css3-alt{
    background: linear-gradient(90deg, rgba(38,77,228,1) 49%, rgba(41,101,241,1) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fab.fa-php{
    color: #787cb4;
  }
  
  .fab.fa-node-js{
    color: #8CCA48;
  }
  
  .fab.fa-windows{
    color: #13bbf7;
  }
  .fab.fa-linux{
    color: #333;
    background-image: url('../images/linux.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .fab.fa-python{
    
    background: linear-gradient(-45deg, rgba(255, 222, 88) 49%, rgba(56,115,164,1) 49%);
    background-image: url('../images/py.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
  .fa-solid.fa-database{
    background: linear-gradient(180deg, rgb(228, 222, 38) 0%, rgb(228, 111, 38) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fab.fa-git{
    color: #f15135;
  }
  
  .fab.fa-github{
    color: #8c4caf;
  }
}

.percent:hover .fab{
  transition: all .5s ease-out;
  animation: shrinkXY .6s ease-out, jumping .6s ease-out;
}


@keyframes shrinkXY {
  0% {
      transform: scale(1); 
    }
    35% {
      transform: scale(0.6); 
    }
    50% {
      transform: scale(1.2);  
    }
    70% {
      transform: scale(0.9); 
    }
    85% {
      transform: scale(1.15); 
    }
    100% {
      transform: scale(1); 
    }
}


.percent:hover .fa-solid{
  transition: all .5s ease-out;
  animation: shrinkXY .6s ease-out;
}