
#decorationLaptop {
    background-color:hsla(0,100%,50%,0);
    background-image:
    radial-gradient(at 59% 56%, hsla(340, 55%, 53%, 0.7) 0px, transparent 50%),
    radial-gradient(at 42% 45%, hsla(313, 87%, 59%, 0.6) 0px, transparent 50%),
    radial-gradient(at 52% 45%, hsla(242, 100%, 70%, 0.918) 0px, transparent 50%);
    height: 70vmin;
    transition: all .5s ease-out;
}


.keyboard-hover-element {
    fill: rgb(100, 10, 209);
    transition: fill .2s ease-in-out;
  }
  
  .keyboard-hover-element:hover {
    fill: #ffff00;
  }

  .keyboard-hover-element:not(:hover) {
    fill: rgb(100, 10, 209);
  }

.touchpad-hover-element{
    transition: fill .2s ease-in-out;
    fill: rgb(100, 10, 209);
    }
.touchpad-hover-element:hover{
    fill: rgb(78, 10, 161);
    }
.touchpad-hover-element:not(:hover){
    fill: rgb(100, 10, 209);
    }


.keyboard-hover-arrow-element{
    transition: fill .2s ease-in-out;
    fill: rgb(100, 10, 209);
}
.keyboard-hover-arrow-element:hover{
fill: #ff6600;
}
.keyboard-hover-arrow-element:not(:hover){
fill: rgb(100, 10, 209);
}

.circular-digram-pink{
    transition: fill .5s ease-in-out;
    fill: rgb(59,16,112);
    
}
.circular-digram-pink:hover{
    fill: #ff00ff;
    animation: animateHeart .7s linear infinite;

}
.circular-digram-pink:not(:hover){
fill: rgb(59,16,112);
}

@keyframes animateHeart {
  0% {
  transform: scale(1) ; 
  }
  50% {
  transform: scale(0.95) ; 
  }
  100% {
  transform: scale(1) ; 
  }
  }

.decoration-bottom-animate{
transition: all .5s ease-out;
animation: animateBottomLaptop 5s linear infinite;
}


@keyframes animateBottomLaptop {
0% {
transform: scale(1) translateY(1px); 
}
50% {
transform: scale(1.02) translateY(5px); 
}
100% {
transform: scale(1) translateY(1px); 
}
}

  .screen-element-question-mark{
    transition: fill .5s ease-in-out;
    fill: rgb(123, 78, 179);
  }
  .screen-element-question-mark:hover{
    fill: #ff00ff;
    animation: animateHeart .7s linear infinite;

  }
  .screen-element-question-mark:not(:hover){
    fill: rgb(123, 78, 179);
  }
  

.screen-element-code-left{
  transition: fill .5s ease-in-out;
  fill:rgb(123, 78, 179);
}
.screen-element-code-left:hover{
  fill: #ff00ff;
  animation: animateHeart .7s linear infinite;
}
.screen-element-code-left:not(:hover){
  fill:rgb(123, 78, 179);
}

.screen-element-code-bottom{
  transition: fill .5s ease-in-out;
  fill: rgb(123, 78, 179);
}
.screen-element-code-bottom:hover{
  fill: #ff00ff;
  animation: animateHeart .7s linear infinite;
}
.screen-element-code-bottom:not(:hover){
fill: rgb(123, 78, 179);
}