.bg-gradient-third{
  background-color:  #212121;
  background-image:
  radial-gradient(at 74% 83%, hsla(236,63%,77%, .1) 0px, transparent 50%),
  radial-gradient(at 98% 10%, hsla(244,82%,60%, .1) 0px, transparent 50%),
  radial-gradient(at 90% 69%, hsla(340,74%,63%, .1) 0px, transparent 50%),
  radial-gradient(at 5% 5%, hsla(65,96%,77%, .1) 0px, transparent 50%),
  radial-gradient(at 46% 31%, hsla(184,63%,75%, .1) 0px, transparent 50%),
  radial-gradient(at 66% 35%, hsla(349,80%,66%, .1) 0px, transparent 50%),
  radial-gradient(at 6% 58%, hsla(244,91%,60%, .1) 0px, transparent 50%),
  radial-gradient(at 45% 61%, hsla(233,90%,69%, .1) 0px, transparent 50%),
  radial-gradient(at 93% 10%, hsla(218,98%,74%, .1) 0px, transparent 50%),
  radial-gradient(at 65% 68%, hsla(190,99%,64%, .1) 0px, transparent 50%);
}


.skill-bars{
  padding: 1vh 1vw;
  width: 30em; 
  height: 400px;
  border-radius: 10px;
}

.bar:first-child{
  margin-top: 0px;
}
.info{
  margin-bottom: 5px;
}
.info span{
  font-weight: 500;
  font-size: 17px; opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.progress-line{
  height: 10px; 
  width: 100%;
  background: #ffffff10;
  position: relative;
  transform: scaleX(0); 
  transform-origin: left;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line span{
  text-align: none;
  height: 100%; position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
	background: linear-gradient(-45deg, #ee52ee, #e73c7e, #23a6d5, #00fff2);
	background-size: 500% 500%;
	transform: translate3d(0, 0, 0);
  box-shadow: inset 3px 1px 5px rgba(0, 0, 0, 0.5);
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards,
             gradientAnimateBar 5s ease-out infinite;
}

@keyframes gradientAnimateBar {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.progress-line span div{
  opacity: 0;
  text-align: right;
  font-size: 10px;
  margin-top: -2px;
  margin-right: 5px;
  font-weight: bold;
  transition: all .4s ease-out;
}

.progress-line:hover span div{
  opacity: 1;
}
.progress-line:not(:hover) span div{
  opacity: 0;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}



@media screen and (max-width:900px){

  .skill-bars{
  padding: 15px 20px;
  width: 60vw; 

  border-radius: 10px;
  }
}
@media screen and (max-width :600px) {

  .skill-bars{
    padding: 10px 10px;
    width: 60vw; 

    border-radius: 8px;
  
  }
  
}

.percent:hover .fab.fa-js{
  color:gold;
}

.percent:hover .fab.fa-html5{
  background: linear-gradient(90deg, rgba(228,77,38,1) 49%, rgba(241,101,41,1) 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.percent:hover .fab.fa-css3-alt{
  background: linear-gradient(90deg, rgba(38,77,228,1) 49%, rgba(41,101,241,1) 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.percent:hover .fab.fa-php{
  color: #787cb4;
}

.percent:hover .fab.fa-node-js{
  color: #8CCA48;
}

.percent:hover .fab.fa-windows{
  color: #13bbf7;
}
.percent:hover .fab.fa-linux{
  color: #333;
  background-image: url('../images/linux.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.percent:hover .fab.fa-python{
  
  background: linear-gradient(-45deg, rgba(255, 222, 88) 49%, rgba(56,115,164,1) 49%);
  background-image: url('../images/py.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;

}

.percent:hover .fa-solid.fa-database{
  background: linear-gradient(180deg, rgb(228, 222, 38) 0%, rgb(228, 111, 38) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.percent:hover .fab.fa-git{
  color: #f15135;
}

.fab.fa-github:hover{
  color: #8c4caf;
}

@media (max-width: 767px) {

  .fab.fa-js{
    color:gold;
  }
  
  .fab.fa-html5{
    background: linear-gradient(90deg, rgba(228,77,38,1) 49%, rgba(241,101,41,1) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fab.fa-css3-alt{
    background: linear-gradient(90deg, rgba(38,77,228,1) 49%, rgba(41,101,241,1) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fab.fa-php{
    color: #787cb4;
  }
  
  .fab.fa-node-js{
    color: #8CCA48;
  }
  
  .fab.fa-windows{
    color: #13bbf7;
  }
  .fab.fa-linux{
    color: #333;
    background-image: url('../images/linux.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .fab.fa-python{
    
    background: linear-gradient(-45deg, rgba(255, 222, 88) 49%, rgba(56,115,164,1) 49%);
    background-image: url('../images/py.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
  .fa-solid.fa-database{
    background: linear-gradient(180deg, rgb(228, 222, 38) 0%, rgb(228, 111, 38) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fab.fa-git{
    color: #f15135;
  }
  
  .fab.fa-github{
    color: #8c4caf;
  }
}

.percent:hover .fab{
  transition: all .5s ease-out;
  animation: shrinkXY .6s ease-out, jumping .6s ease-out;
}


@keyframes shrinkXY {
  0% {
      transform: scale(1); 
    }
    35% {
      transform: scale(0.6); 
    }
    50% {
      transform: scale(1.2);  
    }
    70% {
      transform: scale(0.9); 
    }
    85% {
      transform: scale(1.15); 
    }
    100% {
      transform: scale(1); 
    }
}


.percent:hover .fa-solid{
  transition: all .5s ease-out;
  animation: shrinkXY .6s ease-out;
}