:root {
	--transition: 1.75s cubic-bezier(.2, .6, 0, 1);
}

@font-face {
    font-family: Caudex-Regular;
    src: url(font/Caudex-Regular.ttf);
}
body, html {
    background-color: #212121;

	  height: 100%;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}

.slider{
 height: 100%;
}
.bg-gradient-start{
  background: color #212121;;
background-image:
radial-gradient(at 35% 95%, rgba(203, 141, 251, 0.1) 0px, transparent 50%),
radial-gradient(at 81% 83%, hsla(214,65%,68%, 0.2) 0px, transparent 50%),
radial-gradient(at 71% 56%, hsla(224,85%,63%, 0.3) 0px, transparent 50%),
radial-gradient(at 21% 64%, hsla(134,60%,67%, 0.2) 0px, transparent 50%),
radial-gradient(at 9% 14%, hsla(258,83%,74%, 0.3) 0px, transparent 50%),
radial-gradient(at 51% 6%, hsla(280,97%,62%, 0.2) 0px, transparent 50%),
radial-gradient(at 84% 25%, hsla(207,91%,69%, 0.1) 0px, transparent 50%);
}
.main-info{
 
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    transition: .5s;
}

.overlay-right-side{
    align-items: flex-end;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 3.125rem;
    height: calc(100vh - 6.25rem);
    margin: 3.125rem 0;
    position: fixed;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
}


.overlay-right-side.line {
    height: 50px;
    width: 3px;
    background-color: #f0f8ff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}

h1 span {
    display: inline-block;
}
h1 span:hover {
    cursor: pointer;
    color: gold;
    transition: all .5s ease-out;
    animation: shrink .6s ease-out;
  }
  

@keyframes shrink {
    0% {
        color: gold;
        transform: scale(1); /* Исходный размер элемента (без сжатия) */
      }
      35% {
        transform: scaleY(0.6); /* Сжимаем элемент только по вертикали (сверху и снизу) */
      }
      50% {
        transform: scaleY(1.2); /* Применяем эффект пружины - немного увеличиваем элемент */
      }
      70% {
        transform: scaleY(0.9); /* Возвращаем элемент к исходному размеру */
      }
      85% {
        transform: scaleY(1.15); /* Применяем эффект пружины - немного увеличиваем элемент */
      }
      100% {
        transform: scale(1); /* Возвращаем элемент к исходному размеру */
      }
    
}

.btn-outline-light{
    color: #dfdfdf;
    border-color: #dfdfdf;
}

.btn-outline-light:hover{
    background-color: #dfdfdf;
}

.logo-img{
    max-width: 30px;
    height: auto;
    background-color: #dfdfdf;
    border-radius: 50%;
    margin-right: .3rem;
}

.logo-img:hover{
  background-color: gold;
  animation: shrink 0.6s ease-out;
}

.logo-add-text{
  font-family: Caudex-Regular;
}

.nav-link{
  border-right: 1px solid #dfdfdf;
}

.scroll-line{
  height: 55px;
  transform: translateY(55px);
  border-right: 3px solid #dfdfdf;

  transition: transform 0.3s ease;
}




