:root {
	--transition: 1.75s cubic-bezier(.2, .6, 0, 1);
}

@font-face {
    font-family: Caudex-Regular;
    src: url('components/font/Caudex-Regular.ttf');
}
body, html {
    background-color: #212121;

	  height: 100%;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}

.slider{
 height: 100%;
}


.modal-content {
  opacity: .9;
}

.main-info{
 
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    transition: .5s;
}

.overlay-right-side{
    align-items: flex-end;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 3.125rem;
    height: calc(100vh - 6.25rem);
    margin: 3.125rem 0;
    position: fixed;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: all .3s ease-out;
    opacity: .4;
}

.overlay-right-side:hover{
  transition: all .3s ease-out;
  opacity: 1;
}



.overlay-right-side.line {
    height: 50px;
    width: 3px;
    background-color: #f0f8ff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}

h1 span {
    display: inline-block;
}
h1 span:hover {
    cursor: pointer;
    color: gold;
    transition: all .5s ease-out;
    animation: shrink .6s ease-out;
  }


  

@keyframes shrink {
    0% {
        color: gold;
        transform: scale(1); 
      }
      35% {
        transform: scaleY(0.6); 
      }
      50% {
        transform: scaleY(1.2); 
      }
      70% {
        transform: scaleY(0.9); 
      }
      85% {
        transform: scaleY(1.15); 
      }
      100% {
        transform: scale(1); 
      }
    
}


.btn-outline-light{
    color: #dfdfdf;
    border-color: #dfdfdf;
}

.btn-outline-light:hover{
    background-color: #dfdfdf;
}

.logo-img{
    max-width: 30px;
    height: auto;
    background-color: #dfdfdf;
    border-radius: 50%;
    margin-right: .3rem;
}

.logo-img:hover{
  background-color: gold;
  animation: shrink 0.6s ease-out;
}

.logo-add-text{
  font-family: Caudex-Regular;
}

.nav-link{
  border-right: 1px solid #dfdfdf;
}

.scroll-line{
  position: absolute;
  height: 55px;
  opacity: 0%;
  border-right: 3px solid #dfdfdf;
  transform: translateX(45px);
  animation: slideShow .5s forwards;
}

body{
  animation: slideShow .5s forwards;
}
@keyframes slideShow {
  0% {opacity: 0%;}
  100% {opacity: 100%;}

}




.fab.fa-js:hover{
  color:gold;
}

.fab.fa-html5:hover{
  background: linear-gradient(90deg, rgba(228,77,38,1) 49%, rgba(241,101,41,1) 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fab.fa-css3-alt:hover{
  background: linear-gradient(90deg, rgba(38,77,228,1) 49%, rgba(41,101,241,1) 49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fab.fa-php:hover{
  color: #787cb4;
}

.fab.fa-node-js:hover{
  color: #8CCA48;
}

.fab.fa-windows:hover{
  color: #13bbf7;
}
.fab.fa-linux:hover{
  color: #333;
  background-image: url('components/images/linux.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.fab.fa-python:hover{
  
  background: linear-gradient(-45deg, rgba(255, 222, 88) 49%, rgba(56,115,164,1) 49%);
  background-image: url('components/images/py.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;

}

.fa-solid.fa-database:hover{
  background: linear-gradient(180deg, rgb(228, 222, 38) 0%, rgb(228, 111, 38) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fab.fa-git:hover{
  color: #f15135;
}

.fab.fa-github:hover{
  color: #8c4caf;
}

@media (max-width: 768px) {

  .fab.fa-js{
    color:gold;
  }
  
  .fab.fa-html5{
    background: linear-gradient(90deg, rgba(228,77,38,1) 49%, rgba(241,101,41,1) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fab.fa-css3-alt{
    background: linear-gradient(90deg, rgba(38,77,228,1) 49%, rgba(41,101,241,1) 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fab.fa-php{
    color: #787cb4;
  }
  
  .fab.fa-node-js{
    color: #8CCA48;
  }
  
  .fab.fa-windows{
    color: #13bbf7;
  }
  .fab.fa-linux{
    color: #333;
    background-image: url('components/images/linux.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .fab.fa-python{
    
    background: linear-gradient(-45deg, rgba(255, 222, 88) 49%, rgba(56,115,164,1) 49%);
    background-image: url('components/images/py.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
  .fa-solid.fa-database{
    background: linear-gradient(180deg, rgb(228, 222, 38) 0%, rgb(228, 111, 38) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fab.fa-git{
    color: #f15135;
  }
  
  .fab.fa-github{
    color: #8c4caf;
  }
}

.fab:hover{
  transition: all .5s ease-out;
  animation: shrinkXY .6s ease-out, jumping .6s ease-out;
}


@keyframes shrinkXY {
  0% {
      transform: scale(1); 
    }
    35% {
      transform: scale(0.6); 
    }
    50% {
      transform: scale(1.2);  
    }
    70% {
      transform: scale(0.9); 
    }
    85% {
      transform: scale(1.15); 
    }
    100% {
      transform: scale(1); 
    }
}


.fa-solid:hover{
  transition: all .5s ease-out;
  animation: shrinkXY .6s ease-out;
}




.toast {
  position: absolute;
  top: 10vh;
  right: 30px;
  border-radius: 12px;
  background-color: #262c31;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast .toast-content{
  transition: all .5s ease-out;
  color: rgb(255,0,255);
}
.toast .toast-content i:hover{
  transition: all .3s ease-out;
  background-color: rgb(158, 31, 158);
}

.toast .toast-content i:not(:hover){
  transition: all .3s ease-out;
  color: rgb(255,0,255);
}


.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #b6b6b6;
}

.message .text.text-1 {
  font-weight: 600;
  color: rgb(255,0,255);
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}
.progress{
  
  background-color: rgb(158, 31, 158);
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color:  rgb(255,0,255);
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.toast.active ~ button {
  pointer-events: none;
}


.opacity-hover-effect{
  transition: all .3s ease-out;
  opacity: 0.3;
}

.opacity-hover-effect:hover{
  transition: all .3s ease-out;
  opacity: 1;
}